#wrap{
	width:100%;
	margin: auto;
	background-image: url('asd.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.menu li a:hover{
	color: red;
}
.slideshowimg{
<<<<<<< HEAD
	width:100%;
	border: 2px solid black;
	height: 750px;
	max-width: 100%;
	margin-right: 0px;
	margin-top: 100px;
}
.left-button{
	position: relative;
	margin-left: 48%;
}


.menu{
	background-color: black;
	position: fixed;
	height: 90px;
	
}

.menu a{
	color: white;
	text-align: center;
}
#findtimelike{
	text-align: center;
	margin-left: 0px;
	max-width: 100%;
	background-color: black;
	padding:2%;
}
#textheader{
	text-align: center;
}
#textdiv1, #textdiv2, #textdiv3{
	text-align: center;
} 

body h4{
	color: white;
}
#findus h3, #map{
	text-align: center;
	margin: auto;
}